*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

header p{
    margin-top: 20px;
}

nav ul li{
    display: inline;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 0px;
    background-color: #555;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover{
    background-color: white;
    color: #555;
}

main{
    background-color: white;
    padding: 15px 0 0 0px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.flex-container-1{
    width: 100%;
    height: 100%;
    padding: 0px 15px 0px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    
}

.flex-container-1 section{
    flex: 50 0 49%;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

section p{
    margin-top: 20px;
}

.flex-container-2{
    display: flex;
    flex: 0 0 100%;
    align-items: left;
    padding: 10px 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;

}

aside{
    padding: 20px;
    background-color: #f0f0f0;
    height: 220px;
    flex: 0 0 25%;
    margin-right: 5px;
}

aside ul{
    margin-top: 20px;
    margin-left: 40px;
}

.main-content{
    display: flex;
    padding-top: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex: 0 0 74%;
    
}

.main-section{
    padding: 20px 0 0 10px;
    flex: 0 0 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-section p, article p{
    margin-top: 30px;
    margin-bottom: 10px;

}


article{
    flex: 50 0 100%;
    padding: 20px 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container-3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 10px;
    
}

.flex-container-3 section{
    flex: 50 0 100%;
    padding: 20px 0 20px 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    flex: 0 0 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

footer p{
    padding: 5px;
}